<!DOCTYPE html>
<html>
<head>
	<title>Home Safe Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/reg.css">
</head>
<body>
	<div class="container" id="jmbtn">
		<div class="jumbotron">
			<center>
				<h1><i class="fa fa-home" aria-hidden="true"></i> Home Safe Home</h1>
			</center>
			<p style="text-align: center;"><em>Real. Trusted. Secure.</em></p>
		</div>
	</div>
	<div class="container back">
		<div class="row">
			<div class="col-md-12">
				<h2>Register</h2>
				<!-- action - where the form sends data to-->
				<!-- method - what http method (get/post)-->
				<form action="reg" method="post">
					<input type="text" name="f_name" placeholder="Name" style="width: 48%;" required>
					<br>
					<input type="email" name="email_id" placeholder="Email" style="width: 48%;" required>
					<br>
					<input type="Submit" name="Register" value="Register" style="width: 23%;">
				</form>
			</div>
		</div>
	</div>
<!-- 
<script type="text/javascript" src="login.js"></script>
 --><script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>